body {
  margin: 0;
  padding: 0;
  color: white;
  background: url(nang_flag.png);
  background-size: 300px;
  background-color: #fca31e;
  font-family: serif;
  font-size: 
}
nang_input {
  font-family: Nang;
  width:100%;
  height: 100px;
  gont-size: 200%;
}
